@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
// font
$sora: 'Sora', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$arimo: 'Arimo', sans-serif;
$poppins: 'Poppins', sans-serif;
$roboto: 'Roboto', sans-serif;

// color
$primary: #005977;
$secondary: #003466;
$orange: #EE8300;
$army: #005649;
$white: #ffffff;
$black06: rgba(0,0,0,0.6);
$black08: rgba(0,0,0,0.8);

body,
html {
    height: 100%;
    position: relative;
}
body {
    font-size: 14px;
    color: #000;
    font-family: $sora;
}
a {
    text-decoration: none;
    transition: all .5s ease;
}
.date {
    font-size: 12px;
    color: $white;
    display: table;
}
/*--- NAVBAR ---*/
.ihk-navbar {
    padding: 0;
    background-color: $white;
    width: 100%;
    .navbar-toggler {
        margin-left: 1rem;
        border: none;
        &:hover,
        &:focus {
            box-shadow: none;
            border: none;
        }
    }
    .ihk-nav__{
        &logo {
            position: relative;
            margin: 0 auto;
            a {
                padding: 1rem 50px 1rem 40px;
                position: relative;
                z-index: 3;
            }
            &::before {
                content: "";
                position: absolute;
                top: 0;
                bottom: -10px;
                left: 0;
                width: 30px;
                z-index: 2;
                display: none;
                background-color: $primary;
            }
            &::after {
                background-color: $primary;
                transform: skew(-30deg);
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                z-index: 2;
                content: "";
            }
        }
        &list{
            padding-left: 50px;
            display: none;
            ul {
                li {
                    padding: 0 1px;
                    a{
                        display: block;
                        color: $black06;
                        padding: 35px 1rem;
                        position: relative;
                        &::after {
                            height: 3px;
                            position: absolute;
                            content: "";
                            bottom: 0;
                            left: 0;
                            right: 0;
                            background-color: $orange;
                            display: none;
                        }
                    }
                    a:hover,
                    &.active a {
                        color: $orange;
                        font-weight: 700;
                        &:after {
                            display: block;
                        }
                    }
                }
            }
        }
        &right {
            padding-right: 1rem;
            ul {
                display: flex;
                align-items: center;
                li a {
                    display: block;
                    padding: 1rem .5rem;
                }
            }
        }
    }
    .nav-header {
        display: flex;
        align-items: center;
        padding: 15px;
        border-bottom: 1px solid #DEDEDE;
        h5 {
            font-size: 1.125rem;
            color: $secondary;
            margin-bottom: 0;
            margin-right: auto;
        }
        button {
            background-color: transparent;
            border: none;
            box-shadow: none;
        }
    }
}
@media (min-width: 992px) {
    .ihk-navbar {
        .ihk-nav__ {
            &logo {
                margin: 0;
                &::before {
                    display: block;
                }
                &::before,
                &::after {
                    bottom: -10px;
                }
            }
            &list {
                display: block;
            }
            &right {
                padding-right: 2rem;
            }
        }
    }
}
@media (max-width: 575px) {
    .ihk-navbar .ihk-nav__logo a {
        padding: 10px 20px;
        img {
            width: 175px;
            margin-top: -5px;
        }
    }
}
/*--- ARTICLE ---*/ 
.ihk-article {
    display: flex;
    align-items: center;
}
.deskrip__left {
    h3 {
        font-size: $montserrat;
        font-size: 24px;
        font-weight: 600;
        color: $secondary;
    }
    p {
        color: $black08;
        font-size: 14px;
        line-height: 1.4em;
        color: $black08;
    }
    a {
        color: $orange;
        font-family: $arimo;
        display: table;
        &:hover {
            color: $secondary;
        }
    }
}
/*--- HEADLINE ---*/
section {
    padding: 80px 0;
    position: relative;
}
#ihk-section__headline {
    position: relative;
    padding: 0;
    img {
        width: 100%;
    }
    .ihk-slide__item {
        position: relative;
        display: flex;
        align-items: center;

    }
    .container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        // content: "";
    }
    .ihk-headline__abs {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 15px;
        max-width: 590px;
        display: flex;
        align-items: center;
    }
    .ihk-headline__desc {
        background-color: rgba(0, 52, 102, 0.8);
        border-left: 3px solid $orange;
        padding: 30px 35px;
        color: $white;
        span {
            font-size: 14px;
            display: table;
            margin-bottom: .5rem;
        }
        h1 {
            font-family: $montserrat;
            font-weight: 600;
            font-size: 48px;
            margin-bottom: 15px;
        }
        p {
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 20px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            height: 36px;
            overflow: hidden;
        }
        a {
            color: $orange;
            font-size: 14px;
            display: table;
            &:hover {
                color: $white;
            }
        }
    }
}
@media (max-width: 767px) {
    #ihk-section__headline{
        .ihk-headline__abs {
            max-width: 90%;
        }
        .ihk-headline__desc {
            padding: 20px;
            span {
                margin-bottom: 5px;
            }
            h1 {
                font-size: 30px;
                margin-bottom: 10px;
            }
            p {
                margin-bottom: 10px;
            }
        }
    }
}
#ihk-section__headline_article {
    &::before{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        width: 249px;
        background-color: $orange;
        z-index: -1;
    }
    &::after {
        background-color: $secondary;
        height: 204px;
        width: 204px;
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        z-index: -1;
    }
    .ihk-article__abs {
        position: relative;
        padding: 0 40px;
        .deskrip__{
            &abs {
                position: absolute;
                left: 40px;
                top: 0;
                bottom: 0;
                display: flex;
                align-items: center;
                z-index: 3;
            }
            &left {
                padding: 40px;
                background-color: $white;
                max-width: 590px;
                width: 100%;
                h5 {
                    font-size: 16px;
                    font-weight: 600;
                    margin-top: 20px;
                    margin-bottom: 25px;
                    color: $black08;
                }
                a {
                    margin-top: 1.5rem;
                }
            }
        }
        .img__right {
            position: relative;
            margin-left: auto;
            display: table;
            img {
                max-width: 100%;
            }
        }
    }
}
@media (max-width: 991px) {
    #ihk-section__headline_article{
        &::before {
            width: 160px;
        }
        &::after {
            width: 155px;
            height: 155px;
        }
        .ihk-article__abs {
            padding: 0;
            .deskrip__abs{
                position: relative;
                left: 0;
                display: table;
                margin: 15px auto 0 auto;
                .deskrip__left {
                    padding: 20px 30px;
                }
            }
        }
    }
}
@media (max-width: 767px) {
    section {
        padding: 40px 0;
    }
    #ihk-section__headline_article {
        .ihk-article__abs {
            .deskrip__abs {
                margin: 0 auto;
            }
            .img__right {
                margin: 0 auto;
                text-align: center;
                img {
                    max-width: 80%;
                }
            }
        }
        &::before {
            top: auto;
            height: 160px;
        }
    }
}
/*--- YOUTUBE ---*/ 
#ihk-section__ytb {
    background-color: #F4F4F4;
    &::after {
        position: absolute;
        content: "";
        bottom: 0;
        height: 46px;
        width: 183px;
        right: 0;
        background-color: $orange;
    }
    .ihk-ytb__header {
        display: flex;
        align-items: center;
        background-color: $white;
        padding: 1rem;
        margin-bottom: 20px;
    }
    .ytb-header__left,
    .ytb-header__right {
        display: flex;
        align-items: center;
    }
    .ytb-header__left {
        .ytb-photo {
            margin-right: 20px;
            img {
                border-radius: 50%;
            }
        }
        .ytb-desc {
            h5 {
                font-size: 16px;
                color: $black08;
            }
            ul {
                margin: 0 -5px;
                li {
                    color: $black06;
                    font-size: 10px;
                    a {
                        color: $black06;
                        display: block;
                        padding: 0 5px;
                        &:hover {
                            color: $orange;
                        }
                    }
                }
            }
        }
    }
    .ytb-header__right {
        align-items: normal;
        span {
            color: $black08;
            font-size: 12px;
            border: 1px solid #DEDEDE;
            border-left: 0;
            display: flex;
            align-items: center;
            padding: 0 10px;
        }
    }
    .ihk-ytb__content {
        .ihk-ytb__item {
            a {
                img {
                    width: 100%;
                }
            }
            .desc-bottom {
                margin-top: 20px;
                h5 {
                    font-family: $montserrat;
                    font-weight: 700;
                    font-size: 18px;
                    margin-bottom: 15px;
                    a {
                        color: $secondary;
                        &:hover {
                            color: $orange;
                        }
                    }
                }
                span {
                    color: $black06;
                }
                p {
                    font-family: $poppins;
                    color: #555555;
                    margin: 10px 0;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    height: 42px;
                    overflow: hidden;
                }
                ul {
                    margin: 0 -2px;
                    li {
                        color: rgba(0, 53, 102, 0.6);
                        padding: 0 2px;
                        font-size: 12px;
                        a{
                            color: rgba(0, 53, 102, 0.6);
                            display: block;
                            &:hover {
                                color: $orange;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 767px) {
    #ihk-section__ytb {
        .ytb-header__left {
            display: block;
            .ytb-photo {
                margin-right: 0;
                margin-bottom: 15px;
            }
        }
    }
}
@media (max-width: 575px) {
    #ihk-section__ytb .ihk-ytb__header {
        display: block;
        .ytb-header__right {
            margin-top: 15px;
        }
    }
}
/*--- LATEST ACTIVITY ---*/ 
.title-border {
    font-size: 24px;
    font-weight: 600;
    color: #333;
    position: relative;
    padding-left: 52px;
    &::before {
        position: absolute;
        width: 40px;
        height: 2px;
        background-color: $orange;
        left: 0;
        bottom: 0;
        top: 0;
        margin: auto;
        content: "";
    }
    &.title-border__center {
        display: table;
        margin: 0 auto;
        padding-right: 52px;
        &::after {
            position: absolute;
            width: 40px;
            height: 2px;
            background-color: $orange;
            right: 0;
            bottom: 0;
            top: 0;
            margin: auto;
            content: "";
        }
    }
}
.link-more {
    display: table;
    font-size: 14px;
    color: $orange;
    img {
        transition: all .5s ease;
    }
    &:hover {
        color: $orange;
        img {
            margin-left: 5px;
        }
    }
}
#ihk-section__la {
    background-color: $secondary;
    .ihk-la__left {
        margin-right: 40px;
        .title-border {
            color: $white;
            margin-bottom: 70px;
        }
        .link-more {
            margin-left: auto;
        }
    }
    .ihk-la__item {
        a {
            display: block;
            img {
                width: 100%;
            }
        }
        h5 {
            font-size: 14px;
            font-weight: 700;
            margin-top: 20px;
            margin-bottom: 10px;
            font-family: $montserrat;
            a {
                color: $white;
                display: block;
                &:hover {
                    color: $orange;
                }
            }
        }
    }
}
@media (max-width: 991px) {
    #ihk-section__la {
        .ihk-la__left {
            margin-right: 0;
            margin-bottom: 20px;
            .title-border {
                margin-bottom: 10px;
            }
        }
    }
}
@media (max-width: 767px) {
    #ihk-section__ytb .ihk-ytb__content .ihk-ytb__item,
    #ihk-section__la .ihk-la__item {
        margin-bottom: 25px;
    }
}
/*--- GALLERY ---*/ 
.ihk-gf__content {
    display: flex;
    .ihk-gf__gallery {
        margin-right: 20px;
    }
}
.ihk-gallery {
    max-width: 950px;
    width: 100%;
    .ihk-gallery__item {
        position: relative;
        float: left;
        width: 33.33%;
        height: 298px;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: flex-end;
        &::after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 36.98%, rgba(0, 0, 0, 0.8) 100%);
            z-index: 1;
        }
        .ihk-gallery__desc {
            position: relative;
            z-index: 2;
            padding: 15px;
            h5 {
                font-size: 16px;
                font-family: $montserrat;
                font-weight: 700;
                margin-bottom: 10px;
                a {
                    display: block;
                    color: $white;
                    &:hover {
                        color: $orange;
                    }
                }
            }
        }
    }
}
@media (max-width: 1024px) {
    .ihk-gallery {
        .ihk-gallery__item{
            width: 50%;
        }
    }
}
@media (max-width: 991px) {
    .ihk-gf__content {
        display: block;
        .ihk-gf__gallery {
            margin-right: 0;
            margin-bottom: 20px;
            .ihk-gallery__item {
                height: 255px;
            }
        }
    }
}
@media (max-width: 575px) {
    .ihk-gf__content .ihk-gf__gallery {
        .link-more {
            margin-top: 10px;
            margin-left: auto;
        }
        .ihk-gallery__item {
            width: 100%;
            height: 300px;
        }
    }
}
/*--- LOCATION ---*/ 
.ihk-location {
    .mapouter {
        position: relative;
        text-align: right;
        height: 400px;
        width: 100%;
        margin-top: 30px;
    }
    .gmap_canvas {
        overflow: hidden;
        background: none !important;
        height: 400px;
        width: 100%;
        #gmap_canvas {
            width: 100%;
            height: 100%;
        }
    }
}
.ihk-sponsor {
    padding-top: 70px;
    .ihk-sponsor__list {
        margin-left: auto;
        display: table;
        ul {
            display: table;
            margin: 0 -40px;
            li {
                padding: 0 40px;
                display: inline-block;
            }
        }
    }
}
@media (max-width: 991px) {
    .ihk-sponsor .ihk-sponsor__list {
        ul {
            text-align: center;
            margin: 0;
            li {
                padding: 10px 25px;
            }
        }
    }
}
@media (max-width: 767px) {
    .ihk-sponsor .title-border {
        margin-bottom: 30px;
    }
}
/*--- INSTAGRAM ---*/ 
#ihk-section__ig {
    background-color: #F4F4F4;
    padding-bottom: 0;
    .ihk-ig__feed {
        text-align: center;
        div {
            display: inline-block;
        }
    }
}
.ihk-instagram {
    display: flex;
    align-items: center;
    max-width: 589px;
    width: 100%;
    margin: 0 auto;
    background-color: $white;
    border: 1px solid #DEDEDE;
    padding: 20px;
    margin-bottom: 20px;
    .ihk-ig__pd {
        display: flex;
        align-items: center;
        font-family: $roboto;
        .ihk-ig__photo {
            margin-right: 20px;
        }
        .ihk-ig__desc {
            h5 {
                font-size: 16px;
                font-weight: 500;
                color: #000;
                margin-bottom: 5px;
            }
            span{
                color: #777;
                font-size: 14px;
                font-family: $roboto;
            }
        }
    }
    .ihk-ig__follow {
        a {
            display: table;
            background-color: #0095F6;
            color: $white;
            border-radius: 3px;
            font-size: 13px;
            font-family: $roboto;
            font-weight: 500;
            padding: 7px 22px;
        }
    }
}
/*--- FOOTER ---*/ 
.ihk-footer {
    &__top {
        background-color: $primary;
        padding: 65px 0;
        h5 {
            font-size: 18px;
            font-weight: 600;
            color: $white;
            margin: 20px 0;
        }
        p {
            margin-bottom: 0;
            font-size: 14px;
            color: $white;
            line-height: 28px;
        }
    }
    .ihk-footer__sosmed {
        margin: 0 -5px;
        li {
            display: inline-block;
            padding: 0 5px;
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba(0, 0, 0, 0.11);
                border-radius: 50%;
                width: 40px;
                height: 40px;
            }
        }
    }
    &__bottom {
        padding: 1rem 0;
        background-color: $secondary;
        span {
            color: $white;
            display: block;
            text-align: center;
        }
    }
}
@media (max-width: 767px){
    .ihk-footer__top {
        padding: 40px 0;
    }
}